<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Book Store</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .sort-button {
            position: absolute;
            top: 0;
            right: 0;
            padding: 5px;
        }

        .sort-options {
            display: none;
            position: absolute;
            top: 100%;
            right: 0;
            padding: 5px;
            background-color: #f8f9fa;
            border: 1px solid #dee2e6;
        }

        .logout-button {
            position: absolute;
            top: 0;
            right: 70px;
            padding: 5px;
        }
    </style>
    <script src="script.js"></script>
</head>

<body>
<div class="container">
    <div class="row">
        <h1 class="text-center">Book Store</h1>
    </div>
    <div class="row">
        <div class="col">
            <div class="position-relative">
                <a href="/addbook"><button class="btn btn-primary">Add Books</button></a>
            </div>
        </div>
        <div class="col">
            <div class="position-relative">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="searchInput" placeholder="Search by book name" onkeyup="searchBooks()">

                </div>
            </div>
        </div>
        <div class="col">
            <div class="position-relative">
                <div class="logout-button">
                    <a th:href="/logout"><button class="btn btn-danger">Logout</button></a>
                </div>
                <div class="sort-button" onmouseover="showSortOptions()" onmouseout="hideSortOptions()">
                    <button class="btn btn-secondary">Sort</button>
                    <div class="sort-options" id="sortOptions">
                        <a href="#" class="dropdown-item" onclick="sortByBookName()">Sort by Name</a>
                        <a href="#" class="dropdown-item" onclick="sortByPrice()">Sort by Price</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
    <hr>
    <div id="cardContainer" class="row row-cols-1 row-cols-md-3 g-4 filtered-cards">
        <!-- Loop through books -->
        <div class="col" th:each="book: ${books}">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" th:text="${book.bookName}"></h5>
                    <p class="card-text">
                        <strong>Price:</strong> <span class="card-price" th:text="${book.bookPrice}"></span>
                    </p>
                    <p class="card-text">
                        <strong>Category:</strong> <span th:text="${book.bookCategory}"></span>
                    </p>
                </div>
                <div class="card-footer">
                    <a th:href="@{/updatebook/{id}(id = ${book.bookId})}">
                        <button class="btn btn-primary">Update</button>
                    </a>
                    <a th:href="@{/deletebook/{id}(id=${book.bookId})}">
                        <button class="btn btn-success">Delete</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<script>-->
<!--        function searchBooks() {-->
<!--            var input, filter, cards, cardContainer, title, i;-->
<!--            input = document.getElementById("searchInput");-->
<!--            filter = input.value.toUpperCase();-->
<!--            cardContainer = document.getElementById("cardContainer");-->
<!--            cards = cardContainer.getElementsByClassName("col");-->

<!--            for (i = 0; i < cards.length; i++) {-->
<!--                title = cards[i].querySelector(".card-title");-->
<!--                var firstChar = title.innerText.charAt(0).toUpperCase();-->
<!--                if (firstChar === filter) {-->
<!--                    cards[i].style.display = "";-->
<!--                } else {-->
<!--                    cards[i].style.display = "none";-->
<!--                }-->
<!--            }-->
<!--        }-->
<!--    </script>-->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
